
@tailwind base;
@tailwind components;
@tailwind utilities;

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 5%;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(1.1) contrast(1.5); /* optional clarity boost */
}


.overlay-text {
  position: absolute;
   top: 0; 
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.3); /* adjust transparency */
  z-index: 2;
   color: #f6f5f9; /* Change to any color you want */
  text-align: center;
}

.overlay-text h1 {
  font-size: 3rem; 
  font-weight: bold;
  margin-top: 3%;
  color: blueviolet;
}
.overlay-text h2{
    font-size: 2rem;
}

.overlay-text p {
  font-size: 3rem;
  color: green;
}





